@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
    background-color: #DEFFFC;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeContent {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #DEFFFC;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    font-family: 'Cormorand Garamond';
    display: grid;
    justify-content: center;
    row-gap: 30px;
}

.lotoBoxContainer {
    width: 380px;
    height: 190px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #DFD3C3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.postAQuestion {
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    overflow: auto;
    line-height: 35px;
    text-align: center;
    margin-top: -30px;
}

.postTextBox{
    width: 93%;
    padding: 5px;
    resize: none;
    height: 60px;
    color: #292F33;
    display: block;
    font-size: 13px;
    font-weight: 200;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid #a3d4f2;
}

.submitButton{
    width: 80px;
    height: 35px;
    float: center;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px 0 0;
    background-color: #4a3e43;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
}


.logo {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
}

.name {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 110px;
}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h4 {
    color: #3f292b89;
    text-align: center;
    margin-top: 50px;
    font-family: 'Cormorant Garamond';
    font-size: 24px;
}

h5 {
    color: #3f292b89;
    text-align: center;
    margin-top: 50px;
    font-family: 'Indie Flower';
    font-size: 18px;
}

p {
    color: #161616;
    text-align: center;
    margin-top: 50px;
    font-family: 'Cormorant Garamond';
    font-size: 18px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B2B3F0;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
}

input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F0B2D0;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    margin-top: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    margin-top: 120px;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2B3F0;
    color: #000000;
    margin-top: 150px;
}